html {
  @apply text-base-sm scroll-smooth md:text-base;
  -webkit-font-smoothing: antialiased; /* smooth, like Figma */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings:
    "liga" 1,
    "kern" 1;
}

body {
  @apply bg-body font-primary text-text-default leading-normal font-normal;
}

/* Global Section Spacing */
main.has-section-spacing-md section,
.has-call-to-action {
  @apply pt-20;
}

main.has-section-spacing-lg > section,
.has-call-to-action {
  @apply pt-20 md:pt-32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-dark leading-tight;

  br {
    @apply max-lg:hidden;
  }
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4-sm md:text-h4;
}

h5,
.h5 {
  @apply text-h5-sm md:text-h5;
}

h6,
.h6 {
  @apply text-h6-sm md:text-h6-sm;
}

b,
strong {
  @apply text-white;
}

code {
  @apply after:border-none;
}

a {
  @apply text-text-default;
}

p {
  br {
    @apply max-lg:hidden;
  }
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

* {
  @apply border-border-light;
}

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

section:has([data-aos]) {
  @apply overflow-hidden;
}
