/* Header */
.header {
  @apply relative z-30 w-full;

  &.sticky-header {
    @apply sticky top-6 z-50 transition-[transform,opacity,0.3s_background] duration-500;
  }

  &.scroll-up {
    .hs-dropdown-menu.mega-menu {
      @apply pointer-events-auto;
    }
  }

  &.scroll-down,
  &.scroll-up {
    > .container {
      @apply lg:max-w-5xl!;
    }

    .nav-item {
      > .nav-link {
        @apply lg:px-4 lg:py-2 xl:px-4;
      }
    }
  }

  /* Header Customize */
  > .container {
    @apply mx-auto transition-all duration-300 ease-[cubic-bezier(0.617,1.5,0.68,1)];

    > nav {
      @apply rounded-full border bg-white/70 backdrop-blur-md;
    }
  }
}

/* Hide alternate logo */
header {
  .logo {
    @apply inline-block;
  }

  .logo-alternate {
    @apply hidden;
  }
  .logo-text {
    @apply text-dark;
  }
}

/* Show main logo in footer */
footer {
  .logo-wrapper {
    .logo-text {
      @apply text-h5 text-dark font-medium;
    }

    &.logo-alternate {
      @apply hidden;
    }
  }
}

/* Language Switcher */
.header .language-switcher {
  @apply text-primary relative rounded-full border;

  .language-switcher-button {
    @apply flex items-center gap-1.5 px-3.5 py-1.5 text-inherit uppercase;

    svg * {
      @apply stroke-current!;
    }
  }

  .language-switcher-dropdown {
    @apply hs-dropdown-open:opacity-100 absolute top-full right-0 min-w-32 space-y-px rounded-lg p-px opacity-0 transition-[opacity,margin] lg:transform-none!;

    li a {
      @apply border-border-light hover:bg-light text-text-default block rounded-full border bg-white px-4 py-1.5 text-center transition;

      &.active {
        @apply bg-primary/5 text-primary;
      }
    }
  }
}

/* Navbar */
.navbar {
  @apply lg:mx-auto lg:flex!;
  @apply flex max-h-[80vh] max-lg:left-0 max-lg:overflow-auto max-lg:rounded-3xl lg:relative lg:bg-transparent;
  @apply max-lg:hs-dropdown-open:opacity-100 max-lg:top-full max-lg:z-40 max-lg:hidden max-lg:w-full max-lg:flex-col max-lg:space-y-1 max-lg:border max-lg:bg-white max-lg:p-2 max-lg:opacity-0 max-lg:transition-[opacity,margin] lg:items-center;

  .nav-item {
    @apply relative;
    > .nav-link {
      @apply flex items-center rounded-full px-3 py-1.5 font-normal transition-all duration-300 sm:px-6 lg:px-4 lg:py-2 xl:px-6;
    }
  }

  .nav-dropdown-link,
  .nav-link {
    @apply text-text-default hs-dropdown-open:text-primary hover:text-primary hs-dropdown-open:bg-slate-50 hover:bg-slate-50 [&.nav-dropdown-link]:hover:bg-slate-50;
    &.nav-link-active {
      @apply text-primary bg-slate-50;
    }
  }

  /* Regular Dropdown */
  [data-icon="arrow-down"] * {
    @apply stroke-current!;
  }

  .nav-dropdown {
    .nav-dropdown-toggle {
      @apply hs-dropdown-open:text-primary cursor-pointer select-none;

      svg {
        @apply inline-block;
      }
    }

    .nav-dropdown-list {
      @apply z-10 min-w-52 rounded-xl border bg-white p-1 max-lg:static!;

      .nav-dropdown-item {
        .nav-dropdown-link {
          @apply rounded-full px-4 py-2 transition lg:px-5;
        }
      }
    }
  }

  /* Show navbar on click on small devices */
  &.expanded {
    @apply translate-x-0 translate-y-0 max-lg:visible;
  }
}

/* Badge */
.navbar .badge {
  @apply relative inline-block;

  &:not(.badge-dot) {
    @apply relative ml-2 inline-block rounded-full px-2 py-1.5 text-[10px]/none font-medium;
  }

  &.badge-dot {
    @apply absolute top-1 -right-3 h-1.5 w-1.5 rounded-full lg:-top-1;
  }

  &.badge-accent {
    @apply bg-accent text-white;

    &.badge-dot {
      @apply bg-primary/80;
    }
  }

  &.badge-info {
    @apply text-dark bg-gray-200;
  }

  &.badge-success {
    @apply bg-green-700 text-green-100;

    &.badge-dot {
      @apply bg-green-400;
    }
  }

  &.badge-danger {
    @apply bg-red-600 text-red-100;

    &.badge-dot {
      @apply bg-red-600;
    }
  }

  &.badge-dark {
    @apply bg-dark text-light;

    &.badge-dot {
      @apply bg-dark;
    }
  }
}
